.header__lang-link {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 18px 0 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

@media (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 111%;
    padding: 14px 0 8px;
  }
}