.cover__link {
  max-width: 1184px;
  min-height: 740px;
  margin: 0 auto;
  text-decoration: none;
  color: #FFFFFF;
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__link::after {
  content: '';
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  opacity: .3;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.cover__link:hover::after {
  opacity: .8;
}

@media (max-width: 1200px) {
  .cover__link {
    width: 100%;
    min-height: calc(100vw * 62.5 / 100);
    padding-bottom: 0;
  }
}