.photo-grid {
  margin: 0 auto;
  padding: 0 0 92px;
}

@media (max-width: 768px) {
  .photo-grid {
    padding-bottom: 88px;
  }
}

@media (max-width: 425px) {
  .photo-grid {
    padding-bottom: 64px;
  }
}