.cover__subtitle {
  max-width: 360px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  position: relative;
  z-index: 2;
}

@media (max-width: 425px) {
  .cover__subtitle {
    max-width: 385px;
    font-size: 16px;
    line-height: 114%;
  }
}

@media (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
  }
}