.footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  display: flex;
  gap: 18px;
}

@media (max-width: 510px) {
  .footer__links {
    justify-content: space-between;
    gap: 0;
  }
}

@media (max-width: 450px) {
  .footer__links {
    font-size: 24px;
    line-height: 100%;
    flex-direction: column;
    gap: 32px;
  }
}