.place__paragraph {
  margin: 0 0 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}
  
.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

@media (max-width: 425px) {
  .place__paragraph {
    margin: 0 auto 25px;
    padding: 0 20px;
  }
}

@media (max-width: 320px) {
  .place__paragraph {
    padding: 0 16px;
  }
}