.cover {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 0 92px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .cover {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .cover {
    padding-bottom: 88px;
  }
}

@media (max-width: 425px) {
  .cover {
    padding-bottom: 64px;
  }
}