.cover__title {
  max-width: 560px;
  margin: 0 auto 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  position: relative;
  z-index: 2;
}

@media (max-width: 675px) {
  .cover__title {
    max-width: 607px;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 109%;
  }
}

@media (max-width: 440px) {
  .cover__title {
    max-width: 385px;
    font-size: 36px;
    line-height: 109%;
  }
}

@media (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    margin-bottom: 16px;
    font-size: 32px;
  }
}