.place {
  max-width: 984px;
  margin: 0 auto 80px;
  display: grid;
  grid-template-columns: 460px auto;
  gap: 48px 40px;
}

.place:last-of-type {
  margin-bottom: 0;
  padding-bottom: 92px;
}

@media (max-width: 1024px) {
  .place {
    max-width: 928px;
    grid-template-columns: 440px auto;
    gap: 48px 32px;
  }
}

@media (max-width: 768px) {
  .place {
    max-width: 720px;
    margin-bottom: 73px;
    grid-template-columns: 340px auto;
    gap: 48px 28px;
  }

  .place:last-of-type {
    padding-bottom: 90px;
  }
}

@media (max-width: 600px) {
  .place {
    max-width: 504px;
    grid-template-columns: 250px auto;
    gap: 40px 20px;
  }
}

@media (max-width: 500px) {
  .place {
    max-width: 100%;
    display: block;
    margin-bottom: 50px;
  }

  .place:last-of-type {
    padding-bottom: 66px;
  }
}